.main-content.all.apps.active {
    display: inline-flex;
    flex-direction: column;
    max-height: 100dvh;
    overflow-y: scroll;
    min-height: unset;
    justify-content: flex-start;
}

#sidebar {
    max-height: calc(100dvh - 40px);
    overflow-y: auto;
    overflow-x: hidden;
}

#qbar {
    max-height: calc(100dvh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
}

.app-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 800px;
	color: #ffffff;
    padding-bottom: 2rem;
}

.app-item {
    background-color: var(--background-primary);
    padding: 20px;
    text-align: center;
    border-radius: var(--br);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    border-radius: var(--br);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.app-item:hover {
    transform: scale(1.05);
}

.app-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.app-item p {
    font-size: 14px;
    font-weight: 500;
    color: #5f6368;
}
