/* Basic styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
    transition: background 0.3s ease, color 0.3s ease;
}

.all {
    height: 100%;
    width: 100%;
}
/* Определение переменных для светлой темы */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --link-color: #007bff;
    --button-bg: #007bff;
    --button-text-color: #ffffff;
}

/* Определение переменных для темной темы */
body.dark {
    --background-color: #333333;
    --text-color: #ffffff;
    --link-color: #1e90ff;
    --button-bg: #444444;
    --button-text-color: #ffffff;
}

/* Применение переменных */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

a {
    color: var(--link-color);
}

button {
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

    button:hover {
        opacity: 0.8;
    }
