@media (orientation: portrait) {
    #ais {
        flex-direction: row;
        justify-content: flex-start
    }
    #qbar {
        top: unset;
        bottom: 4rem;
        right: 10px;
        width: unset;
        max-width: calc(100% - 3rem);
        overflow-x: scroll;
        flex-direction: row;
    }
    #settingsBtn {
        right: 1rem;
    }
    .search-container {
        width: 95%;
    }
    #search-bar {
        margin-left: 0;
        margin-right: 0;
    }
}