#settings.active, .settings-section, .settingsSectionDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
}
.settings-section, .settingsSectionDiv {
    width: calc(100% - 40px);
}

#settings.active {
    max-height: 100dvh;
    overflow-y: scroll;
    min-height: unset;
}

.settingsNameCool {
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    height: 350px;
    min-height: 350px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settingsBlock {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    font-size: larger;
}