/* Basic styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
    transition: background 0.3s ease, color 0.3s ease;
}

body {
    background: linear-gradient(135deg, #21211A, #1C2125, #1F2120);
    color: white;
}

/* Dark theme toggle button */
.theme-toggle {
    top: 10px;
    right: 10px;
    background: var(--background-secondary);
    color: var(--text-primary);
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease, color 0.3s ease;
    z-index: 10;
}

/* Quick Bar */
.qbar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--background-secondary);
    color: var(--text-primary);
    border: none;
    border-radius: var(--br);
    font-size: 1.5rem;
    cursor: pointer;
    width: 40px;
    justify-content: center; /* Центрирование по вертикали */
    transition: background 0.3s ease, color 0.3s ease;
    z-index: 10;
    display: flex; /* Используется flexbox */
    flex-direction: column; /* Расположение элементов в колонку */
    align-items: center; /* Центрирование по горизонтали */
    /*padding: 10px 10px 10px 10px;*/
    flex-shrink: 0;
    
    padding-top: 10px;
    padding-right: 10px;
    /*padding-bottom: 10px;*/
    padding-left: 10px;

}

.ais {
    width: 100%;
    justify-content: center; /* Центрирование по вертикали */
    transition: background 0.3s ease, color 0.3s ease;
    z-index: 10;
    display: flex; /* Используется flexbox */
    flex-direction: column; /* Расположение элементов в колонку */
    align-items: center; /* Центрирование по горизонтали */
    flex-shrink: 0;
    /*margin: 10px;*/
}

.ais-ai {
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
}

    .ais-ai img {
        width: 40px;
        height: 40px;
    }

/* Sidebar styles */
.sidebar {
    width: 40px;
    background: var(--background-secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    gap: 20px;
    flex-shrink: 0;
}

.app-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.app-btn img {
    width: 40px;
    height: 40px;
}

/* Main content */
.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
	flex-direction: column;
	
}

/* YOUR VERSION IS OLD */
.update-extension {
	
    display: none;
    align-items: center;
    overflow: hidden;
    height: 35px;
	
	margin: 10px 0;
}

.update-link {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.update-link:hover {
	text-decoration: underline;
}

/* YOUR VERSION IS VERY-VERY-VERY NEW */
.dev-extension {
	
    display: none;
    align-items: center;
    overflow: hidden;
    height: 35px;
	
	margin: 10px 0;
}

.dev-link {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.dev-link:hover {
	text-decoration: underline;
}

/* Search bar styles */
.search-bar-wrapper {
    display: flex;
    align-items: center;
    background: var(--background-secondary);
    /*border: 1px solid #ccc;*/
    border-radius: var(--br);
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 10px 0;
	flex-direction: column;
	width: 100%;
}

.search-main {
    display: flex;
    align-items: center;
    background: var(--background-secondary);
    /*border: 1px solid #ccc;*/
    border-radius: var(--br);
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	width: 100%;
}

.search-dropdown {
    padding: 8px;
    font-size: 1rem;
    border: none;
    /*border-right: 1px solid #ccc;*/
    cursor: pointer;
    appearance: none;
	max-width: 150px;
    color: var(--text-primary);
}

#search-bar {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    height: 40px;
    background: var(--search-bar-bg);
    color: var(--text-primary);
	width: 100%;
	max-width: 90%;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.7876 10.4115C4.7876 7.3095 7.3106 4.7875 10.4126 4.7875C13.5146 4.7875 16.0376 7.3095 16.0376 10.4115C16.0376 13.5135 13.5146 16.0375 10.4126 16.0375C7.3106 16.0375 4.7876 13.5135 4.7876 10.4115ZM20.4926 19.4325L15.9506 14.8895C16.9416 13.6645 17.5376 12.1065 17.5376 10.4115C17.5376 6.4825 14.3416 3.2875 10.4126 3.2875C6.4836 3.2875 3.2876 6.4825 3.2876 10.4115C3.2876 14.3405 6.4836 17.5375 10.4126 17.5375C12.1066 17.5375 13.6656 16.9405 14.8896 15.9495L19.4326 20.4925C19.5786 20.6395 19.7706 20.7125 19.9626 20.7125C20.1546 20.7125 20.3466 20.6395 20.4926 20.4925C20.7856 20.1995 20.7856 19.7245 20.4926 19.4325Z' fill='gray'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-color: #2b2b2b;
}

 #search-bar:focus {
    width: calc(100% - 20px);
	width: 500px;
} 

/* AI Assistant button */
#assistant-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    height: 50px;
    width: 50px;
}

#assistant-icon {
    width: 80%;
    height: 80%;
}

/* App list container styles */
.app-list-container {
    position: absolute;
    top: 50px;
    left: 100px;
    background: var(--background-secondary);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: var(--br);
    padding: 20px;
    width: 2000px; /* Increased width */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-list-container.hidden {
    display: none;
}

.app-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 20px;
    width: 100%;
}

.app-list li {
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: var(--br);
    transition: transform 0.2s;
    background: var(--background-secondary);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.app-list li:hover {
    transform: scale(1.05);
}

.app-list li a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 0.9rem;
}

.app-list li .app-icon {
    width: 80px;
    height: 80px;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* New styles for iframe container */
.iframe-wrapper {
    position: absolute;
    top: 10px;  /* Adjust as needed */
    left: 10px;  /* Adjust to be right of sidebar */
    background: var(--background-secondary-great);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: var(--br);
    z-index: 9999;  /* Make sure this is the highest z-index on the page */
    width: 100%;
    height: 90%;
	max-width: 1000px;
	max-width: 90%;
	max-height: 90%;
    display: flex;
    flex-direction: column;
	overflow: hidden;
}

.iframe-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: auto;  /* Allow scrolling */
    pointer-events: auto;  /* Enable interaction */
}

/* Увеличение размера iframe */
#iframe-display {
    width: 100%;
    height: 100%;
	scrolling: yes;
}

.search-container {
    position: absolute; /* Позиционируем относительно родительского контейнера */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Смещаем на половину ширины и высоты элемента */
    width: 75%;
    max-width: 1000px;
    z-index: 10; /* Для того чтобы элемент был поверх других */
}

.all {
    position: relative; /* Контейнер для позиционирования */
    width: 100%; /* Или задайте конкретные размеры */
    height: 100vh; /* Высота на весь экран или заданная */
}