/* �������� ����� ��� ����������, � ������� ��������� ������ */
.weather-widget-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* �������� ����� ��� ����� ������ */
.weather-widget {
	text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 150px;
    padding: 8px;
    background-color: var(--background-secondary);
    border-radius: var(--br);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

/* ����� ��� ����� ���� */
body.dark-theme .weather-widget {
    background-color: var(--dark-bg);
    color: var(--light-text-primary);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
}

    body.dark-theme .weather-widget .weather-icon {
        border: 2px solid var(--light-text-primary);
    }

    body.dark-theme .weather-widget .city-select button {
        background-color: var(--dark-btn-bg);
        color: var(--light-text-primary);
    }

        body.dark-theme .weather-widget .city-select button:hover {
            background-color: var(--dark-btn-hover-bg);
        }

/* ����� ����� ��� ������ */
.weather-widget .current-weather {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    height: 60%;
}

.weather-widget .weather-icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}

.weather-widget .weather-info {
    flex-grow: 1;
    text-align: left;
    font-size: 12px;
}

    .weather-widget .weather-info h2 {
        font-size: 20px;
        margin: 0;
    }

    .weather-widget .weather-info p {
        font-size: 12px;
        margin: 3px 0;
    }

/* ����� ��� ����� � ������� � ����� � ��������� */
.weather-widget .weather-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    font-size: 12px;
    height: 100%;
}

    .weather-widget .weather-details .wind,
    .weather-widget .weather-details .humidity {
        margin: 3px 0;
    }

.weather-widget .additional-info {
    margin-top: 3px;
    font-size: 12px;
}

/* ����� ��� ����� ������ ������ */
.weather-widget .city-select {
    margin-top: 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .weather-widget .city-select select {
        width: 70%;
        padding: 6px;
        font-size: 12px;
    }

    .weather-widget .city-select button {
        width: 20%;
        padding: 6px;
        font-size: 12px;
        cursor: pointer;
        background-color: var(--primary-btn-bg);
        color: var(--primary-btn-text-primary);
        border: none;
        border-radius: var(--br);
        margin-left: 5px;
    }

body.dark-theme .theme-toggle {
    background: var(--dark-btn-bg);
    color: var(--light-text-primary);
}

#town-select {
    width: 167px;
    height: 27px;
}
#town-select .custom-dd {
    height: 100%;
}
#town-select .custom-dd .custom-dd__control {
    height: 100%;
    padding: 0;
}
#town-select .custom-dd__menu {
    bottom: unset;
    top: 0;
    width: 150%;
}