#homePage {
    height: 100%;
    width: 100%;
}

#homePage h1 {
    font-size: 2.5em;
    color: #aaaaaa;
    text-align: center;
    margin-top: 20px;
}

.homeBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: calc(100% - 54px);
    width: 100%;
    justify-content: center;
}

.homeBtns div{
    max-width: 300px;
    width: 100%;
    max-height: 42px;
    height: 100%;
}
.homeBtns button, .homeBtns a {
    max-width: 300px;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: var(--br);
    background-color: var(--background-primary);
    color: #ffffff;
    transition: background-color 0.3s;
}

.homeBtns a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
}

.btnBackHome {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

button {
    font-family: 'onesans', 'Inter', sans-serif !important;
}