#roomContent {
    width: calc(100% - 2rem);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

#chatMessages {
    border: 1px solid #888;
    padding: 8px;
    height: 300px;
    overflow-y: auto;
    background: #f9f9f9;
    margin-bottom: 8px;
    font-family: monospace;
    font-size: 12px;
    border-radius: var(--br) var(--br) 0 0;
}

.roomSett {
    display: inline-flex;
    flex-direction: column;
}

#roomSettings {
    width: 100%;
    padding-left: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-content: start;
}

#btnCreateRoom, #btnRefreshRooms {
    border-radius: var(--br);
    padding: 1rem;
}

#roomsList {
    border-radius: var(--br);
}

#roomsList .room {
    padding: 10px; 
    margin: 5px 0px; 
    background: var(--background-primary); 
    border: 1px solid var(--text-primary); 
    border-radius: var(--br); 
    cursor: pointer; 
    transition: background 0.2s;
    color: var(--text-primary)
}

#readyButton {
    border-radius: var(--br);
    padding: 10px 20px; 
    font-size: 16px; 
    margin-top: 15px; 
    background-color: var(--accent-color); 
    color: var(--text-primary);
    cursor: pointer; 
    transition: background-color 0.3s;
}