
body {
    font-family: onesans;
    padding:20px;
    min-height: calc(100dvh - 40px);
}
button {
    padding:6px 12px;
    margin:4px;
    border-radius: var(--br);
}
canvas {
    width:100%;
    height:140px;
    background:#111;
    border:1px solid #333;
    cursor:pointer;
    border-radius: var(--br);
}
.record {
    border:1px solid #333;
    padding:10px;
    margin-top:12px;
    display: inline-flex;
    flex-direction: column;
    border-radius: var(--br);
    background-color: var(--background-secondary);

    .markers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 1rem;
    }
}
.record input {
    width: calc(100% - 8px);
    background-color: var(--background-primary);
}
.marker {
    color:#ff9800;
    cursor:pointer;
    font-size:12px;
}
.marker input {
    width:60px;
    background:#222;
    color:#fff;
    border:1px solid #444;
}
.row {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap
}
.row button {
    width: 4rem;
    aspect-ratio: 1;
}

#records {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    gap: 1rem;
}

#controls {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-flex;
    width: 100%;
    max-width: calc(100% - 2rem);
    justify-content: center;
    padding: 1rem;
    background-color: var(--background-secondary-great);
}

.transcript {
    background-color: var(--background-secondary);
    margin: 10px 0;
    padding: 10px;
    border-radius: var(--br);
    font-size: 14px;
}

#recordName {
    width: 100%;
    padding: 10px;
}

.metaData {
    margin: 1rem 0;
}




body {
    display: inline-flex;
    flex-direction: column;
    max-height: 100dvh;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    overflow: hidden;
}
.header {
    height: 222px;
}
#controls {
    height: calc(70px - 2rem);
}

.navBtn {
    aspect-ratio: 1;
}