.slider-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border-radius: var(--br);
}

.slider-track {
    display: flex;
    transition: transform 0.8s ease-in-out;
    height: 100%;
}

.slider-track img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center bottom;
}

.randomOnHome {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    margin: 1rem 0;
}

.randomEl {
    background-color: var(--background-thirdary);
    border-radius: var(--br);
    padding: 1rem;
    width: auto;
    position: relative;
}

.randomEl:hover {
    background-color: var(--background-thirdary-hover);
}

.randomEl h2 {
    margin-top: 0;
}

.randomEl .btns {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.randomEl button {
    background-color: var(--background-secondary);
    border: none;
}

.randomEl button:hover {
    background-color: var(--background-secondary-hover);
}

.randomPlace p {
    margin: 0;
}

.randomContent {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.25rem;
}

#openmenu {
    border: none;
    background: none;
    width: max-content;
}