@media (orientation: portrait) {
    body {
        max-width: 100%;
        max-height: max-content;
    }
    #container {
        padding: 0;
        margin: 0;
        max-width: 100dvw;
    }
    .div-now {
        margin: 0;
        padding: 0;
        padding-left: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        max-width: calc(100dvw - 1rem);
        h1, #div-detalis, .detalis {
            max-width: max-content;
        }
    }
    #nowOverlay {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    #div-hours, #div-days {
        width: 100%;
        max-width: 100%;
        margin: 0.5rem 0;
        padding: 1rem 0;
    }
    .scroll-container {
        padding: 0 1rem;
    }
    #city-select-custom {
        max-width: 50px;
    }

    .custom-dd__label {
        display: none;
    }
    #city-select-custom .custom-dd .custom-dd__control {
        justify-content: center;
        gap: 0;
    }
}