html, body {
    padding: 0;
    margin: 0;
}
body {
    min-height: 100dvh;
}

#container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 100dvw;
}

.div-now {
    margin: 1rem;
    padding: 2rem;
    width: 75%;
    display: inline-flex;
    flex-direction: column;
    background-color: var(--background-secondary);
    border-radius: var(--br);
    position: relative;
}
.div-now img {
    width: 25px;
    height: 25px;
}

#div-detalis {
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
}
.detalis {
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;
}
.detalis p {
    margin: 0;
}

#temperature {
    font-size: 4rem;
}

#div-hours, #div-days {
    padding: 1rem;
    width: 75%;
    display: inline-flex;
    flex-direction: column;
    background-color: var(--background-secondary);
    border-radius: var(--br);
    max-width: 100%;
    overflow-x: scroll;
    margin-bottom: 1rem;
}
.scroll-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-x: contain;
    touch-action: pan-x;
}

.card {
    text-align: center;
    background-color: var(--background-primary);
    border-radius: var(--br);
    padding: 0 1rem;
    flex: 1;
}

.bar {
    display: inline-flex;
    flex-direction: row;
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: max-content;
    select, button, #city-select-custom {
        background-color: var(--background-primary);
        height: 100%;
    }
}

#nowOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    margin: 1rem;
    z-index: -2;
    /*filter: blur(6px);*/
    background: rgba(0,0,0,0.35);
    overflow: hidden;
}
#nowBack {
    width: 100%;
    height: 100%;
    border-radius: var(--br);
    background-size: cover;
    background-position: center;
}

.custom-dd__menu {
    top: 2.5rem;
    left: unset !important;
    right: 1px;
    max-width: 90dvw;
    width: 350px;
    bottom: unset;
    min-height: 100px;
    max-height: 80dvh;
    height: max-content;
}

#city-select-custom, .custom-dd {
    border-radius: var(--br);
}