/* Общая сборка цвета */
#div-hours .card {
  background-color: hsl(var(--h) var(--s) var(--l));
}

#container {
    background-color: hsl(var(--h) var(--s) var(--l) 50%);
}

/* === ДЕНЬ И ВЕЧЕР === */
.time-12 { --h: 200; --s: 25%; --l: 70%; }
.time-13 { --h: 200; --s: 25%; --l: 75%; }
.time-14 { --h: 200; --s: 20%; --l: 70%; }
.time-15 { --h: 200; --s: 15%; --l: 60%; }
.time-16 { --h: 200; --s: 15%; --l: 50%; }
.time-17 { --h: 210; --s: 15%; --l: 40%; }
.time-18 { --h: 220; --s: 15%; --l: 30%; }
.time-19 { --h: 230; --s: 15%; --l: 25%; }
.time-20 { --h: 240; --s: 15%; --l: 20%; }

/* === НОЧЬ === */
.time-21 { --h: 240; --s: 10%; --l: 15%; }
.time-22 { --h: 240; --s: 10%; --l: 12%; }
.time-23 { --h: 240; --s: 8%;  --l: 10%; }
.time-00 { --h: 240; --s: 5%;  --l: 8%; }
.time-01 { --h: 240; --s: 5%;  --l: 6%; }
.time-02 { --h: 240; --s: 0%;  --l: 5%; }

/* === РАССВЕТ === */
.time-03 { --h: 30; --s: 5%;  --l: 8%; }
.time-04 { --h: 30; --s: 10%; --l: 15%; }
.time-05 { --h: 30; --s: 15%; --l: 25%; }
.time-06 { --h: 30; --s: 20%; --l: 35%; }
.time-07 { --h: 30; --s: 25%; --l: 45%; }
.time-08 { --h: 35; --s: 30%; --l: 55%; }

/* === УТРО === */
.time-09 { --h: 70;  --s: 20%; --l: 60%; }
.time-10 { --h: 110; --s: 15%; --l: 65%; }
.time-11 { --h: 160; --s: 20%; --l: 65%; }
