@import url(../style/!.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}

.app-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 800px;
	color: #ffffff;
}

.app-item {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: var(--br);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    border-radius: var(--br);
}

.app-item:hover {
    transform: scale(1.05);
}

.app-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.app-item p {
    font-size: 14px;
    font-weight: 500;
    color: #5f6368;
}
